{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h1>{{ form_title }}</h1></legend>
                {% for field in form %}
                    {% if field.errors %}
                        <div class="form-group has-error">
                            <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                            {{ field }}
                            <span id="errorHelpBlock" class="help-block">
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </span>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <span id="helpBlock" class="help-block">{{ field.help_text|safe }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">{{ submit_value }}</button>
            </fieldset>
        </form>
    </div>
{% endblock %}



