{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
          <h1>About Diurnalist<small> The Master Task List</small></h1>
        </div>
        <p class="lead"><em>Diurnalist</em> is a long-term task list that has everything you want to do. This
            collection of items will help you organize your life and help you accomplish your personal and professional
            goals. This repository of projects, goals, and tasks is a productivity tool that will improve your ability
            to 'get things done' efficiently.</p>
    </div>
{% endblock %}